/* Header CSS */
.clear {
    clear: both;
}

header {
    background-color: rgba(28,68,105,.75);
}

.header-container h3{
	color:  #ffffff;
	font: normal 20px 'Cookie', cursive;
	margin: 0;
}

.header-container h3 span{
	color:  rgb(87,56,29);
}

#logo {
    height: 100px;
    float: left;
    margin-top: 3px;
    margin-left: 20px;
}

#nav {
    margin: 0px;
    padding: 0px;
    text-align: right;
    float: right;
}

#nav li {
    display: block;
    float: left;
}

#nav li a {
    display: block;
    padding: 43px 15px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #EEE;
    transition: all .2s linear;
}

#nav li a:hover {
    background-color: rgb(87,56,29);
    color:white;
}

/*Body CSS*/

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: rgb(28,68,105);
  color: white;
}

input[type=password], select, textarea  {
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=text], select, textarea  {
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

form p {
    letter-spacing: .05em;
}

.container {
    width: 1000px;
    height 100%;
    margin: 0 auto;
}

#logout_btn {
    background-color: rgb(28,68,105);
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    float: right;
}

#switch_btn {
    background-color: rgb(28,68,105);
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
}

#form_btm {
    background-color: rgb(28,68,105);
    border: none;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px;
    cursor: pointer;
}

#newHunterDiv {
    display: none;
}

/*Footer CSS*/

footer{
	position: fixed;
	bottom: 0;
}

.footer-class{
	background-color: rgba(28,68,105,.75);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-family: 'Poppins', sans-serif;
	padding: 0px 0px 0px 0px;
	margin-top: 80px;
}

.footer-class p{
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: #FFF;
}